.editor {
  accent-color: hsl(var(--brand-600));

  > div {
    border: 1px solid hsl(var(--border));
    border-radius: 0.5rem;
    padding: 1rem;
    background-color: hsl(var(--background) / 85%);

    &:focus-within {
      border-color: hsl(var(--foreground / 50%));
    }
  }

  & :global .tiptap {
    border: none;
    outline: none;
  }

  > * + * {
    margin-top: 0.75em;
  }

  ul {
    padding: 0 1rem;
    list-style: disc;
  }

  ol {
    padding: 0 1rem;
    list-style: decimal;
  }

  li {
    display: flex;

    > label {
      flex: 0 0 auto;
      margin-right: 0.5rem;
      user-select: none;
    }

    > div {
      flex: 1 1 auto;
    }

    ul li,
    ol li {
      display: list-item;
    }

    ul[data-type='taskList'] > li {
      display: flex;
    }
  }
}
