# postgresql config
DATABASE_URL = "postgresql://postgres:postgres@localhost:5432/db-coati"

# google oauth config
GOOGLE_CLIENT_ID = ""
GOOGLE_CLIENT_SECRET = ""
GOOGLE_REDIRECT_URI = "http://localhost:5173/api/oauth/google"

# mail config
MAIL_CLIENT = "nodemailer"
MAIL_FROM = "noreply@mail.com"

# mailgun config
MAILGUN_API_KEY = ""
MAILGUN_DOMAIN = ""

# nodemailer config
NODEMAILER_HOST = ""
NODEMAILER_PORT = ""
NODEMAILER_SECURE = ""
NODEMAILER_AUTH_USER = ""
NODEMAILER_AUTH_PASS = ""
