@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --header-height: 3.5rem;
    --footer-height: 3.5rem;
    --view-height: calc(100dvh - var(--header-height));

    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 53.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;

    --radius: 0.5rem;

    --brand-50: 344 100% 97%;
    --brand-100: 346 100% 93%;
    --brand-200: 345 100% 88%;
    --brand-300: 345 100% 79%;
    --brand-400: 345 100% 67%;
    --brand-500: 345 100% 57%;
    --brand-600: 345 100% 50%;
    --brand-700: 345 100% 42%;
    --brand-800: 345 97% 35%;
    --brand-900: 345 87% 31%;
    --brand-950: 345 100% 16%;

    --warning: 45 50% 30%; /* Dimmed down: reduced saturation and lightness */
    --warning-foreground: 0 0% 98%; /* Kept bright for contrast */

    --success: 160 100% 50%;
    --success-foreground: 0 0% 98%;

    --info: 207 100% 50%;
    --info-foreground: 0 0% 98%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.color-theme-in-transition {
  transition:
    background-color 0.5s ease-out,
    color 0.5s ease-out;
}
